#build-your-own-nav .col {
    height: 6rem;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
/* .text-ellipsis {
    display: block; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; 
} */


#build-your-own-nav .col:first-child {
    border-radius: 50px 0 0 50px;
    padding-left: 40px;
}

#build-your-own-nav .col:last-child {
    border-radius: 0 50px 50px 0;
}

#build-your-own-nav img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.final-button {
    transition: 0.5s;
}

#icon {
    margin-left: auto;
    margin-right: 30px;
    font-size: 3rem;
    position: relative;
    right: 0;
    transition: 0.5s ease-out;
}

.final-button:hover #icon {
    right: -10px;
}