.listItem {
    display: flex;
    justify-content: space-between;
}

.image-btn {
    border: none;
    background-color: transparent;
    font-size: 4rem;
    transition: 0.3s;
}

.image-btn:hover {
    transform: scale(1.2);
}