.wait-sale-staff h1 {
    color: #48AAAD;
}

#go-back-icon {
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    color: #48AAAD;
    left: 0;
}

#go-back-icon:hover {
    left: -5px;
}

.custom-button {
    border: none;
    background-color: #48AAAD;
    color: white;
    transition: 0.3s;
}
.custom-button:hover {
    transform: scale(0.97);
}

.image-btn {
    border: none;
    background-color: transparent;
    font-size: 4rem;
    transition: 0.3s;
}

.image-btn:hover {
    transform: scale(1.2);
}